<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Sans"
      rel="stylesheet"
    />
    <title>Lucas Terças - {{ title }}</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <nav id="nav-bar">
        <a id="nav-main" href="#home">Home</a>
        <a class="nav-link" href="#contact">Contact</a>
        <a class="nav-link" href="#projects">Projects</a>
        <a class="nav-link" href="#about">About</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
